<!DOCTYPE html>
<html>
    <h1> {{blabla.name}} </h1>
    <p>
        <ul>
            <li> Price: {{blabla.price}}</li>
            <li> Disponibility: {{blabla.disponibility}}</li>
        </ul>
    </p>
</html>