{% extends 'base.html.twig' %}
{% block body %}
<html>
    <h1> {{blabla.name}} </h1>
    <p>
        <ul>
            <img src={{blabla.image}} alt=""/> 
            <li> Description: {{blabla.description}}</li>
            <li> Price: {{blabla.price}} </li>
        </ul>
    </p>
</html>
{% endblock %}